<div class="maynard">
  <h1>Maynard James Keenan</h1>
  <h3>Lead vocals for the band tool, puscifer, and wine maker at caduceus cellars.</h3>
  <p>
    Mainly known for being the lead singer of Tool, Maynard packs a rather lengthy laundry lists of accomplishments.
  </p>
</div>
  <div class="lists">
    <div class="list-items">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
