<div class="maynard">
  <h1>Maynard James Keenan</h1>
  <h3>Lead vocals for the band tool, puscifer, and wine maker at caduceus cellars.</h3>
  <p>
    Mainly known for being the lead singer of Tool, Maynard packs a rather lengthy laundry list of accomplishments,
    which a few are listed.
  </p>
  <p>
    Since rising to fame, Keenan has been noted as being a recluse; however, he does emerge to support charitable causes.
  </p>
  <p>
    Please know, A primary purpose of Keenan's lyrics for Tool involves a desire to connect with the listeners on a personal level;<br />
    to encourage them to look within themselves for self-identity, understanding and reflection.
  </p>
</div>
  <div class="lists">
    <h3>Accomplishments</h3>
    <div class="list-box">
      <ul>
        <li>Multi-Platinum bands.</li>
        <li>Owner of Merkin Vineyards</li>
        <li>Actor and comedian</li>
        <li>Operates a Organic Market in AZ.</li>
        <li>Married to the lovely Li Lei.</li>
      </ul>
    </div>
    <div class="list-box">
      <h3>Miscellany</h3>
      <ul>
        <li>Attended West Point</li>
        <li>Actor</li>
        <li>Practices Jiu-Jitsu</li>
      </ul>
    </div>
  </div>
  <ul class="contact">
    <li>
      <a href="mailto:justinveirs@gmail.com" target="_blank" class="icon email"></a>
    </li>
    <li>
      <a href="https://twitter.com/mjkeenan" target="_blank" class="icon twitter"></a>
    </li>
    <li>
      <a href="https://puscifer.com/" target="_blank" class="icon facebook"></a>
    </li>
  </ul>
